<!-->
<img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
class="rounded-circle z-depth-1-half avatar-pic"
width="60%" height="60%" alt="example placeholder avatar">
<br><br>
<h4>Elegir foto</h4>
<input [(ngModel)]="usuario.file" type="file" name="file">
<-->


<div class="example-container mat-elevation-z8">   
      <h4>Inserte imágenes para el artículo</h4>
      <div class="example-loading-shade"
            *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <mat-card class="example-card">
        <form [formGroup]="galleryForm" (ngSubmit)="onFormSubmit()"> 
          <!-->         
          <figure>
              <button *ngIf="fotos.length > 0" class="eliminar" (click)="renovar()"><fa-icon [icon]="removeicon"></fa-icon></button>
              <span *ngFor="let foto of fotos"><img src="{{foto.imageUrl}}" id="{{foto._id}}" 
                class="misfotos"></span>
              <img *ngIf="fotos.length == 0" src="../../assets/avatar.png">
          </figure>
          <-->

          <figure>
              <button *ngIf="fotos.length > 0" class="eliminar" (click)="renovar()">
                <fa-icon [icon]="removeicon"></fa-icon>
              </button>
              <table>
                <tr >
                  <td>
                    <img *ngIf='fotos.length > 0' src="{{fotos[0].imageUrl}}">
                    <img *ngIf='fotos.length == 0' src="../../assets/avatar.png">
                  </td>
                  <td >
                    <img *ngIf='fotos.length > 1' src="{{fotos[1].imageUrl}}">
                    <img *ngIf='fotos.length <= 1' src="../../assets/avatar.png">
                  </td>
                  <td >
                      <img *ngIf='fotos.length > 2' src="{{fotos[2].imageUrl}}">
                      <img *ngIf='fotos.length <= 2' src="../../assets/avatar.png">
                  </td>
                </tr>
                <tr  *ngIf='fotos.length > 3'>
                  <td >
                      <img *ngIf='fotos.length > 3' src="{{fotos[3].imageUrl}}">
                      <img *ngIf='fotos.length <= 3' src="../../assets/avatar.png">
                  </td>
                  <td >
                      <img *ngIf='fotos.length > 4' src="{{fotos[4].imageUrl}}">
                      <img *ngIf='fotos.length <= 4' src="../../assets/avatar.png">
                  </td>
                  <td >
                      <img *ngIf='fotos.length > 5' src="{{fotos[5].imageUrl}}">
                      <img *ngIf='fotos.length <= 5' src="../../assets/avatar.png">
                  </td>
                </tr>
              </table>
          </figure>

          
          <mat-form-field class="example-full-width">
            <mat-label>Imagen</mat-label>
            <ngx-mat-file-input formControlName="imageFile" placeholder="Imagen seleccionada" valuePlaceholder="..."
              [errorStateMatcher]="matcher"></ngx-mat-file-input>
            <mat-icon matSuffix><fa-icon [icon]="iconfolder"></fa-icon></mat-icon>
            <mat-error>
              <span *ngIf="!galleryForm.get('imageFile').valid">Por favor seleccione una imagen</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Breve descripción" formControlName="imageDesc"
              [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!galleryForm.get('imageDesc').valid && galleryForm.get('imageDesc').touched">Por favor introduzca una breve descripción para esta imagen.</span>
            </mat-error>
          </mat-form-field>
          <div class="button-row">
            <button type="submit" mat-flat-button color="primary"><mat-icon><fa-icon [icon]="flecha"></fa-icon></mat-icon></button>
          </div>
        </form>
      </mat-card>
    </div>