<div class="container">
        <div class="jumbotron">
                        <img  [src]='foto' width="300" height="350">
                        <p>
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                                soy roxana soy roxana soy roxana soy roxana
                        </p>
                        
        </div>
</div>