<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8" style="background-color: PapayaWhip ;">
            <div class="container">
                    <h1>¿De qué se trata?</h1>  
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
            </div>
            <br>
            <br>
            <div class="container">
                    <h1>¿Por qué?</h1>  
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
            </div>
            <br>
            <br>
            <div class="container">
                    <h1>¿Para qué?</h1>  
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
                    Este blog es sobre Este blog es sobre Este blog es sobre Este blog es sobre
            </div>

        </div>
        <div class="col-sm-4" style="background-color: peachpuff;">
        <app-aboutme></app-aboutme>
        </div>
</div>

</div>