<header class="masthead bg-dark" style="background-image: url('assets/706152.jpg')">
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              <h1 id="mytitle">{{title}}</h1>
            <span id='spt' class="subheading">MATEO 5: 1-12</span>
          </div>
        </div>
      </div>
    </div>
<app-barranav></app-barranav>
</header>
<router-outlet></router-outlet>

<footer>
  <div class="row">
    <div class="col-12">
      <small>&copy; Cristo vive 2020</small>
    </div>

  </div>
</footer>